.father-details {
  background: rgb(68, 63, 63);
  height: 150vh;
}

.header-details {
  height: 250px;
  width: auto;
  background-size: cover;
  background-color: rgba(0, 0, 0, 0.6);

  opacity: 0.7;
  -webkit-box-shadow: inset 0px -58px 58px 2px rgba(255, 0, 0, 0.45);
  -moz-box-shadow: inset 0px -58px 58px 2px rgba(255, 0, 0, 0.45);
  box-shadow: inset 0px -58px 58px 2px rgba(255, 0, 0, 0.45);

  display: flex;
  align-items: center;
}

.details {
  background: white;
  height: auto;
  width: 160vh;
  position: relative;
  box-shadow: 0px 0px 33px 10px rgba(255, 255, 255, 0.55);
  top: -100px;
  border-radius: 10px;
  margin: 0 auto;

  display: grid;
  grid-template-columns: 30% auto;
}

.details img {
  width: 90%;
height: auto;
  margin: 10px 10px;
  border-radius: 10px 10px 0px 0px;
}

.info-details1 {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.info-details1-Crap {
  padding: 1px;
  margin: 3px;
}

.button-volver {
  width: 150px;
  height: 30px;
  border-radius: 9%;
  background: rgb(255, 255, 255);
  color: black;
  box-shadow: 0px 0px 33px 0px rgba(255, 0, 0, 0.45);

  display: flex;
  align-items: center;
  justify-content: center;

  margin-left: 11.5%;
}

.button-volver:hover {
  background: red;
  color: white;
  box-shadow: 0px 0px 33px 0px rgba(255, 255, 255, 0.95);
  transition: 0.3s;
}
